{% extends 'navbar.html' %}

{% block title %}

{% endblock %}


{% block content %}
    <section class="section transheader parallax" data-stellar-background-ratio="0.5"
             style="background-image:url('/media/upload/bg_04.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h2>Let's Analysis Your Website SEO</h2>
                    <p class="lead">Now you can customize your SEO service according to your need</p>
                    <form class="calculateform" method="post">
                        {% csrf_token %}
                        <div class="item-box">
                            <div class="item-top form-inline">
                                <div class="form-group">
                                    <div class="input-group2">
						                    <span class="input-addon">
												<i class="fa fa-link"></i>
											</span>
                                        <input type="url" class="form-control" id="urladres" name="url"
                                               placeholder="Add your website url">
                                    </div>
                                </div>
                                <input type="submit" name="send" value="Analysis" class="btn btn-default"/>
                            </div>
                        </div>
                    </form>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="seo-score">
                        <div class="website-screen">
                            <img src="{{ url_img }}" alt="logo-of-domain" class="img-responsive" width="902" height="728">
                        </div><!-- end website-screen -->

                        <div class="circle-detail">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="width:67%">
                                    <span>67</span>
                                </div>
                            </div>
                        </div><!-- end circle -->

                        <div class="seo-details">
                            <table class="table">
                                <tbody>
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Good</td>
                                    <td class="col-md-8">{{ good }}/{{ total }}</td>
                                </tr>
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Bad</td>
                                    <td class="col-md-8">{{ bad }}/{{ total }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="btn btn-primary btn-block btn-lg">Increase Your SEO Score</a>
                        </div>
                    </div><!-- end score -->
                </div><!-- end col -->

                <div class="col-md-8">
                    <div class="seo-details">
                        <table class="table">
                            <thead>
                            <tr class="row">
                                <th class="col-md-4"><i class="fa fa-search"></i> SEO Analysis</th>
                                <th class="col-md-8">Site Details</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% if title == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">HTML Version</td>
                                    <td class="col-md-8">Perfect! You are using the HTML5 version</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">HTML Version</td>
                                    <td class="col-md-8">Perfect! You are using the HTML5 version</td>
                                </tr>
                            {% endif %}

                            {% if title == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Site Title</td>
                                    <td class="col-md-8">{{ title }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Site Title</td>
                                    <td class="col-md-8">{{ title }}</td>
                                </tr>
                            {% endif %}

                            {% if desc == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Site Description</td>
                                    <td class="col-md-8">{{ desc }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Site Description</td>
                                    <td class="col-md-8">{{ desc }}</td>
                                </tr>
                            {% endif %}

                            {% if canonical == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Canonical</td>
                                    <td class="col-md-8">{{ canonical }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Canonical</td>
                                    <td class="col-md-8">{{ canonical }}</td>
                                </tr>
                            {% endif %}

                            {% if robot == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Meta Robot</td>
                                    <td class="col-md-8">{{ robot }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Meta Robot</td>
                                    <td class="col-md-8">{{ robot }}</td>
                                </tr>
                            {% endif %}

                            {% if revisit_after == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Meta Revisit-After</td>
                                    <td class="col-md-8">{{ revisit_after }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Meta Revisit-After</td>
                                    <td class="col-md-8">{{ revisit_after }}</td>
                                </tr>
                            {% endif %}

                            {% if content_language == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Meta Content-Language</td>
                                    <td class="col-md-8">{{ content_language }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Meta Content-Language</td>
                                    <td class="col-md-8">{{ content_language }}</td>
                                </tr>
                            {% endif %}

                            {% if meta_content_type == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Meta Content-Type</td>
                                    <td class="col-md-8">{{ meta_content_type }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Meta Content-Type</td>
                                    <td class="col-md-8">{{ meta_content_type }}</td>
                                </tr>
                            {% endif %}

                            {% if viewport == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Meta Viewport</td>
                                    <td class="col-md-8">{{ viewport }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Meta Viewport</td>
                                    <td class="col-md-8">{{ viewport }}</td>
                                </tr>
                            {% endif %}

                            {% if favicon == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Favicon</td>
                                    <td class="col-md-8">{{ favicon }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Favicon</td>
                                    <td class="col-md-8">{{ favicon }}</td>
                                </tr>
                            {% endif %}

                            {% if heading == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">H1 Heading Elements</td>
                                    <td class="col-md-8">
                                        {{ heading }}
                                        <ul>
                                            <li>Tốt trang web của bạn có thẻ h1 đúng yêu cầu</li>
                                        </ul>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">H1 Heading Elements</td>
                                    <td class="col-md-8">
                                        {{ heading }}
                                        <ul>
                                            <li>Trang web của bạn không có thẻ h1 nào.</li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endif %}

                            {% if r_iframe == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Iframe</td>
                                    <td class="col-md-8">{{ r_iframe }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Iframe</td>
                                    <td class="col-md-8">{{ r_iframe }}</td>
                                </tr>
                            {% endif %}

                            {% if image_alt == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Image Alt</td>
                                    <td class="col-md-8">{{ image_alt }}</td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Image Alt</td>
                                    <td class="col-md-8">{{ image_alt }}</td>
                                </tr>
                            {% endif %}

                            <tr class="row">
                                <td class="first-col col-md-4 good">Embed / Flash</td>
                                <td class="col-md-8">Fantastic! No embed or flash element on your site</td>
                            </tr>
                            {% if check_sitemap == 'Pass' %}
                                <tr class="row">
                                    <td class="first-col col-md-4 good">Sitemap (XML)</td>
                                    <td class="col-md-8">
                                        Awesome! There is sitemap at your web site
                                        <ul>
                                            <li>yoursite.com/sitemap.xml</li>
                                        </ul>
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="row">
                                    <td class="first-col col-md-4 bad">Sitemap (XML)</td>
                                    <td class="col-md-8">
                                        Trang web của bạn không sử dụng sitemap
                                    </td>
                                </tr>
                            {% endif %}

                            <tr class="row">
                                <td class="first-col col-md-4 good">Robots.txt</td>
                                <td class="col-md-8">
                                    Awesome! There is robots.txt file at your web site.
                                    <ul>
                                        <li>yoursite.com/robots.txt</li>
                                    </ul>
                                </td>
                            </tr>

                            <tr class="row">
                                {% if list_link_external|length > 10 %}
                                    <td class="first-col col-md-4 bad">Links</td>
                                    <td class="col-md-8">
                                        Bad! There is {{ list_link_external|length }} external links on your web site.
                                        For a
                                        great SEO score, you can add
                                        max 10 external links.

                                        <ul>
                                            {% for link in list_link_external %}
                                                <li>{{ link }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                {% else %}
                                    <td class="first-col col-md-4 good">Links</td>
                                    <td class="col-md-8">
                                        Good! There is {{ list_link_external|length }} external links on your web site.
                                        <ul>
                                            {% for link in list_link_external %}
                                                <li>{{ link }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                {% endif %}
                            </tr>
                            </tbody>
                        </table>
                    </div><!-- end details -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section ldp">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_01.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_02.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_03.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_04.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_05.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_06.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <footer class="footer primary-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="widget clearfix">
                        <h4 class="widget-title">Subscribe</h4>
                        <div class="newsletter-widget">
                            <p>You can opt out of our newsletters at any time. See our privacy policy.</p>
                            <form class="form-inline" role="search">
                                <div class="form-1">
                                    <input type="text" class="form-control" placeholder="Enter email here..">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i>
                                    </button>
                                </div>
                            </form>
                        </div><!-- end newsletter -->
                    </div><!-- end widget -->
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2">
                    <div class="widget clearfix">
                        <h4 class="widget-title">Company</h4>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Carrier</a></li>
                            <li><a href="#">Trademark</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-md-2 col-sm-2">
                    <div class="widget clearfix">
                        <h4 class="widget-title">Services</h4>
                        <ul>
                            <li><a href="#">Design & Dev</a></li>
                            <li><a href="#">ASP.NET</a></li>
                            <li><a href="#">PHP Development</a></li>
                            <li><a href="#">Mobile App</a></li>
                            <li><a href="#">Oracle</a></li>
                        </ul>
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-md-2 col-sm-2">
                    <div class="widget clearfix">
                        <h4 class="widget-title">Download</h4>
                        <ul>
                            <li><a href="#">MAC/OSX</a></li>
                            <li><a href="#">Android</a></li>
                            <li><a href="#">Windows</a></li>
                            <li><a href="#">Google Play</a></li>
                            <li><a href="#">Amazon</a></li>
                        </ul>
                    </div><!-- end widget -->
                </div><!-- end col -->

                <div class="col-md-2 col-sm-2">
                    <div class="widget clearfix">
                        <h4 class="widget-title">Be Social</h4>
                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Linkedin</a></li>
                        </ul>
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end primary-footer -->
{% endblock %}