{% extends 'navbar.html' %}
{% load filter_range_text %}

{% block title %}
    Blog SEO với Python
{% endblock %}


{% block content %}
    <section class="section transheader parallax" data-stellar-background-ratio="0.5"
             style="background-image:url('/media/upload/bg_01.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h2>Blog & Python và SEO</h2>
                    <p class="lead">Website chia sẻ kiến thức python và SEO.</p>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="content col-md-8">
                    {% if list_blog|length == 0 %}
                        <p>Trang web hiện tại không có blog nào.</p>
                    {% endif %}

                    {% for blog in list_blog %}
                        <div class="blog-box clearfix row">
                            <div class="media-box col-md-4">
                                <a href="{% url 'blog:detail_blog' pk=blog.pk %}" title="">
                                    <img src="/media/{{ blog.image_blog }}" alt=""
                                         class="img-responsive img-thumbnail" width="600" height="600">
                                </a>
                            </div><!-- end media-box -->
                            <div class="blog-desc col-md-8">
                                <div class="blog-meta">
                                    <ul class="list-inline">
                                        <li><a href="#"><i class="fa fa-folder-open-o"></i> {{ blog.tags }}</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i> 21 Comments</a></li>
                                    </ul>
                                </div><!-- end meta -->
                                <h3><a href="{% url 'blog:detail_blog' pk=blog.pk %}" title="">{{ blog.title }}</a>
                                </h3>
                                <p>{{ blog.content_blog|filter_range }}</p>
                                <a class="readmore" href="{% url 'blog:detail_blog' pk=blog.pk %}">Đọc thêm</a>
                            </div><!-- end blog-desc -->
                        </div><!-- end blogbox -->
                    {% endfor %}

                    <div class="pagination-wrapper row">
                        <ul class="pagination col-md-12">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                        </ul>
                    </div><!-- ne dpagi -->
                </div><!-- end content -->

                <div class="sidebar col-md-4 col-sm-4">
                    <div class="widget clearfix">
                        <h4 class="widget-title">Subscribe</h4>
                        <div class="newsletter-widget">
                            <p>Bạn có thể từ chối nhận bản tin của chúng tôi bất cứ lúc nào. Xem chính sách bảo mật của chúng tôi.</p>
                            <form class="form-inline" role="search">
                                <div class="form-1">
                                    <input type="text" class="form-control" placeholder="Enter email here..">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i>
                                    </button>
                                </div>
                            </form>
                        </div><!-- end newsletter -->
                    </div><!-- end widget -->

                    <div class="widget clearfix">
                        <h4 class="widget-title">ADVERTISING</h4>
                        <div class="category-widget">
                            <img src="/media/images/banner.gif" alt="" class="img-responsive img-thumbnail">
                        </div><!-- end category -->
                    </div><!-- end widget -->

                    <div class="widget clearfix">
                        <h4 class="widget-title">Danh mục Blog</h4>
                        <div class="category-widget">
                            <ul>
                                <li><a href="#">Các mẹo và thủ thuật SEO</a></li>
                                <li><a href="#">Các mẹo và thủ thuật trong Python</a></li>
                                <li><a href="#">Công cụ và mô dun SEO</a></li>
                                <li><a href="#">Google đã update những thuật toán gì?</a></li>
                            </ul>
                        </div><!-- end category -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section ldp">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_01.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_02.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_03.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_04.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_05.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_06.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
{% endblock %}