{% extends 'navbar.html' %}


{% block title %}

{% endblock %}


{% block content %}
    <section class="section transheader homepage parallax" data-stellar-background-ratio="0.5"
             style="background-image:url('/media/upload/bg_04.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h2>Hãy phân tích SEO trang web của bạn.</h2>
                    <p class="lead">Bây giờ bạn có thể kiểm tra trang web của bạn hoàn toàn miễn phí.</p>
                    <form class="calculateform" method="post">
                        {% csrf_token %}
                        <div class="item-box">
                            <div class="item-top form-inline">
                                <div class="form-group">
                                    <div class="input-group2">
                                        <span class="input-addon">
                                            <i class="fa fa-link"></i>
                                        </span>
                                        <input type="text" class="form-control" id="urladres" name="url"
                                               placeholder="VD: https://hocpython.com">
                                    </div>
                                </div>
                                <input type="submit" name="send" value="Phân tích" class="btn btn-default"/>
                            </div>
                        </div>
                    </form>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section nopad">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-md-3 col-sm-6 nopad first">
                    <div class="home-service c1">
                        <i class="flaticon-competition"></i>
                        <p>Chủ sở hữu: Quảng bá trang web của bạn qua Google</p>
                    </div><!-- end home-service -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 nopad">
                    <div class="home-service c2">
                        <i class="flaticon-chat"></i>
                        <p>Nhà xuất bản: Kiếm tiền với các bài viết trên blog</p>
                    </div><!-- end home-service -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 nopad">
                    <div class="home-service c3">
                        <i class="flaticon-domain"></i>
                        <p>Phân tích: Lợi ích từ các công cụ phân tích SEO</p>
                    </div><!-- end home-service -->
                </div><!-- end col -->

                <div class="col-md-3 col-sm-6 nopad last">
                    <div class="home-service c4">
                        <i class="flaticon-medal"></i>
                        <p>Bắt đầu: Học thêm nhiều kiến thức về SEO và Python</p>
                    </div><!-- end home-service -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section lb nopad spotlight style1">
        <div class="image col-md-4 hidden-sm hidden-xs">
            <img src="/media/upload/blog_alt_06.jpg" alt=""/>
        </div>
        <div class="content">
            <h2>SEO là gì?</h2>
            <p>SEO viết tắt của "Search Engine Optimization"(tối ưu hóa công cụ tìm kiếm).</p>
            <a href="#" class="btn btn-transparent">Learn More</a>
        </div>
    </section>

    <section class="section bt">
        <div class="container">
            <div class="section-title text-center">
                <small>Our search engine optimization works and happy customers in the past.</small>
                <h3>Case Studies</h3>
            </div><!-- end section-title -->

            <div class="owl-carousel owl-theme lightcasestudies withhover">
                <div class="item-carousel">
                    <div class="case-box">
                        <img src="/media/upload/case_01.png" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="case-studies-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div><!-- end case-box -->
                </div><!-- end col -->

                <div class="item-carousel">
                    <div class="case-box">
                        <img src="/media/upload/case_07.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="case-studies-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div><!-- end case-box -->
                </div><!-- end col -->

                <div class="item-carousel">
                    <div class="case-box">
                        <img src="/media/upload/case_03.png" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="case-studies-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div><!-- end case-box -->
                </div><!-- end col -->

                <div class="item-carousel">
                    <div class="case-box">
                        <img src="/media/upload/case_02.png" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="case-studies-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div><!-- end case-box -->
                </div><!-- end col -->

                <div class="item-carousel">
                    <div class="case-box">
                        <img src="/media/upload/case_05.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="case-studies-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div><!-- end case-box -->
                </div><!-- end col -->

                <div class="item-carousel">
                    <div class="case-box">
                        <img src="/media/upload/case_06.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                            <a href="case-studies-single.html"><i class="fa fa-link"></i></a>
                        </div>
                    </div><!-- end case-box -->
                </div><!-- end col -->
            </div>
        </div>
    </section>

    <section class="section lb nopad spotlight style1">
        <div class="content">
            <h2>Python là gì?</h2>
            <p>Nếu bạn có hứng thú với Python và về lập trình hãy vào phần blog của mình.</p>
            <a href="{% url 'blog:blog' %}" class="btn btn-transparent">Blog</a>
        </div>
        <div class="image col-md-4 hidden-sm hidden-xs">
            <img src="/media/upload/blog_alt_01.jpg" alt=""/>
        </div>
    </section>

    <section class="section ldp">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_01.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_02.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_03.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_04.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_05.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
                <div class="col-md-2 col-sm-2 col-xs-6">
                    <div class="client-box">
                        <a href="#"><img src="/media/upload/client_06.png" alt="" class="img-responsive"></a>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->
{% endblock %}